{# no tab indents for Page Inject Plugin compatibility - hibbittsdesign.org #}
{% if page.header.published %}
{% if page.header.display_page_title is defined and not (displaypagetitle is defined)%}
{% set displaypagetitle = page.header.display_page_title %}
{% endif %}
{% if page.header.display_iframe_title is defined and not (displaycontenttitle is defined)%}
{% set displaycontenttitle = page.header.display_iframe_title %}
{% endif %}
{% if page.header.display_iframe_links is defined and not (displaycontentlinks is defined)%}
{% set displaycontentlinks = page.header.display_iframe_links %}
{% endif %}
{% block content %}
<div class="iframe-wrapper">
<p>
{{ page.content|raw }}
{% if displaypagetitle is defined %}
{% if displaypagetitle %}
<strong>{{page.title}}</strong>
{% endif %}
{% endif %}
{% if displaycontenttitle is defined %}
{% if displaycontenttitle %}
{% if displaypagetitle is defined %}
{% if displaypagetitle %}
<br>
{% endif %}
{% endif %}
{{ page.header.iframe_title }}
{% endif %}
{% else %}
{{ page.header.iframe_title }}
{% endif %}
{% set iframeaspectratio = page.header.iframe_aspect_ratio %}
{% if iframeaspectratio is empty %}
{% set iframeaspectratio = '' %}
{% endif %}
{% if displaycontentlinks is defined %}
{% if displaycontentlinks %}
{% if page.header.iframe_links | length > 1 %}<br>{% endif %}
{% set loopindex = 0 %}
{% if page.header.iframe_links is defined %}
{% for litem in page.header.iframe_links %}
{% if litem.source|first == '/' %}
{% set litem_source = base_url ~ litem.source %}
{% else %}
{% set litem_source = litem.source %}
{% endif %}
{% if loopindex > 0 %} | {% endif %}
{% if page.header.iframe_links | length == 1 %}({% endif %}
{% if litem.source %}<a class="newwindow external-link" href="{{ litem.source }}">{%endif%}
{% if litem.icon %}<i class="fa {{litem.icon}}" aria-hidden="true"></i>{%endif%}{{litem.text}}{% if litem.source %}</a>{%endif%}
{% if page.header.iframe_links | length == 1 %}){% endif %}
{% set loopindex = loopindex + 1 %}
{% endfor %}
{% endif %}
{% endif %}
{% endif %}
{% if page.header.iframe_source|first == '/' %}
{% set iframesource = base_url ~ page.header.iframe_source %}
{% else %}
{% set iframesource = page.header.iframe_source %}
{% endif %}
<div class="video-responsive video-responsive-{{ iframeaspectratio }}">
<iframe src="{{ iframesource }}" width="640" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</p>
</div>
{% endblock %}
{% endif %}
