{# no tab indents for Page Inject Plugin compatibility - hibbittsdesign.org #}
{% if page.header.published %}
{% if page.header.display_page_title is defined and not (displaypagetitle is defined)%}
{% set displaypagetitle = page.header.display_page_title %}
{% endif %}
{% if page.header.display_pdf_title is defined and not (displaycontenttitle is defined)%}
{% set displaycontenttitle = page.header.display_pdf_title %}
{% endif %}
{% block content %}
<div class="pdf-wrapper">
<p>
{{ page.content|raw }}
{% if displaypagetitle is defined %}
{% if displaypagetitle %}
<strong>{{ page.title }}</strong>
{% endif %}
{% endif %}
{% if displaycontenttitle is defined %}
{% if displaycontenttitle %}
{% if displaypagetitle is defined %}
{% if displaypagetitle %}
<br>
{% endif %}
{% endif %}
{{ page.header.pdf_title }}
{% endif %}
{% else %}
{{ page.header.pdf_title }}
{% endif %}
<div class="video-responsive video-responsive-1-1">
<iframe style="border: 0px #ffffff none;" src="https://docs.google.com/gview?url={{ page.header.pdf_url }}&embedded=true" width="640" height="480"></iframe>
</p>
</div>
{% endblock %}
{% endif %}
