{# no tab indents for Page Inject Plugin compatibility - hibbittsdesign.org #}
{% if page.header.published %}
{% if page.header.display_page_title is defined and not (displaypagetitle is defined)%}
{% set displaypagetitle = page.header.display_page_title %}
{% endif %}
{% if page.header.display_speakerdeck_title is defined and not (displaycontenttitle is defined)%}
{% set displaycontenttitle = page.header.display_speakerdeck_title %}
{% endif %}
{% block content %}
<div class="iframe-wrapper">
<p>
{{ page.content|raw }}
{% if page.header.speakerdeck_slide is defined %}
{% set speakerdeckslide = page.header.speakerdeck_slide %}
{% else %}
{% set speakerdeckslide = 1 %}
{% endif %}
{% if displaypagetitle is defined %}
{% if displaypagetitle %}
<strong>{{ page.title }}</strong><br>
{% endif %}
{% endif %}
{% if displaycontenttitle is defined %}
{% if displaycontenttitle %}
{{ page.header.speakerdeck_title }}
{% endif %}
{% endif %}
<script async class="speakerdeck-embed" data-slide="{{ speakerdeckslide }}" data-id="{{ page.header.speakerdeck_id }}" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
</p>
</div>
{% endblock %}
{% endif %}
